.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  .login-component {
    padding: 15rem;
  }
  .login-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .data-login {
    border-radius: 0.4rem;
    width: 75%;
    box-shadow: 0px 10px 40px #00000056;
    .login-section {
      margin-top: 1.2rem;
      padding: 0 2.4rem 2.4rem 2.4rem;
      form {
        margin-top: 2.4rem;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        
      }
    }

  }


}