<div class="container">
  <div class="login-content">
    <div class="data-login">
      <h1>Entar</h1>
      <p>Insira suas credenciais para acessar o sistema</p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>


    </div>
  </div>
  <div class="svg-content">
    <svg-login-component></svg-login-component>
  </div>
</div>
